flows.json
[
    {
        "id": "02e1030fd11b5174",
        "type": "tab",
        "label": "Fluxo_Sistemas_Ciberfísicos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d01e5eb9dac15a4",
        "type": "aedes broker",
        "z": "02e1030fd11b5174",
        "name": "",
        "mqtt_port": "1884",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "persist_to_file": false,
        "usetls": false,
        "x": 170,
        "y": 680,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a379cebdde5711ae",
        "type": "debug",
        "z": "02e1030fd11b5174",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "135b31f774964ef1",
        "type": "function",
        "z": "02e1030fd11b5174",
        "name": "Função para frequência cardíaca",
        "func": "\nreturn [\n\n    { topic: \"heartRate\", payload: msg.payload.heartRate}\n];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "74cdb234ef972460"
            ]
        ]
    },
    {
        "id": "7d15449f315d3928",
        "type": "function",
        "z": "02e1030fd11b5174",
        "name": "Função para Nível de Oxigenação",
        "func": "\nreturn [\n    { topic: \"spO2\", payload: msg.payload.spO2}\n];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            [
                "6acd2cc261b0388a"
            ]
        ]
    },
    {
        "id": "74cdb234ef972460",
        "type": "ui_chart",
        "z": "02e1030fd11b5174",
        "name": "",
        "group": "fa8f94d22c4ad6ad",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Frequência Cardíaca",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6acd2cc261b0388a",
        "type": "ui_chart",
        "z": "02e1030fd11b5174",
        "name": "",
        "group": "fa8f94d22c4ad6ad",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Nível de Oxigenação",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6feb5da378af34d6",
        "type": "function",
        "z": "02e1030fd11b5174",
        "name": "Funcao para detectar as quedas",
        "func": "msg.payload = {\n    tipo: msg.payload.tipo,\n    intensidade:msg.payload.intensidade,\n    contagem: msg.payload.contagem\n\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 520,
        "wires": [
            [
                "2b555608030e9e72"
            ]
        ]
    },
    {
        "id": "f299c58ecfd43e62",
        "type": "debug",
        "z": "02e1030fd11b5174",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "2b555608030e9e72",
        "type": "http request",
        "z": "02e1030fd11b5174",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http:/192.168.1.91:3000/queda",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 890,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "84a7deae109979b8",
        "type": "function",
        "z": "02e1030fd11b5174",
        "name": "Funcao para o gráfico",
        "func": "msg.payload = msg.payload.contagem;\nmsg.topic =\"vibração\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 600,
        "wires": [
            [
                "37162d2263a02a5a"
            ]
        ]
    },
    {
        "id": "37162d2263a02a5a",
        "type": "ui_chart",
        "z": "02e1030fd11b5174",
        "name": "",
        "group": "fa8f94d22c4ad6ad",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Vibração",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6291c363add6a7b8",
        "type": "mqtt in",
        "z": "02e1030fd11b5174",
        "name": "",
        "topic": "healthsensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "358ca1ef6c76b510",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "a379cebdde5711ae",
                "135b31f774964ef1",
                "7d15449f315d3928",
                "d6bb0ecdbab152f4"
            ]
        ]
    },
    {
        "id": "3679c34fdc718a9a",
        "type": "mqtt in",
        "z": "02e1030fd11b5174",
        "name": "",
        "topic": "healthsensor/queda",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "cd6a4ad52ce3cea1",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "f299c58ecfd43e62",
                "6feb5da378af34d6",
                "84a7deae109979b8"
            ]
        ]
    },
    {
        "id": "d6bb0ecdbab152f4",
        "type": "http request",
        "z": "02e1030fd11b5174",
        "d": true,
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.91:3000/vitals",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8f94d22c4ad6ad",
        "type": "ui_group",
        "name": "Quedas",
        "tab": "f9dc35b9e19dc4c0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "358ca1ef6c76b510",
        "type": "mqtt-broker",
        "name": "healthsensor",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cd6a4ad52ce3cea1",
        "type": "mqtt-broker",
        "name": "hearthsensor/queda",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f9dc35b9e19dc4c0",
        "type": "ui_tab",
        "name": "Dashboard - Sinais Vitais",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]